.App {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.Board {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.Bins {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
